*{
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Roboto;
}
p{
    font-family: Roboto;
    font-weight: 300;
}

a{
    text-decoration: none;
}

.wrap {
    background: #edf2f4;
    height: 800px;
}
.logo {
    display: inline-block;
    padding: 20px 40px;
    background-color: yellowgreen;
}

header {
    position: fixed;
    left: 50%;
    top: 0;
}
ul li{

    display: inline-block;
    padding: 15px 40px;
    font-size: 22px;
    font-weight: 700;
    
    border-radius: 50px;

}
ul li:hover{
    background: #8d99ae;
}

.content {
    box-sizing: border-box;
    padding: 80px 20px 30px 80px;

}

.content h1 {
    box-sizing: border-box;
    font-size: 70px;
}

.content p{
    padding-top: 20px;
    font-size: 25px;
}

.btn-cta {
    margin: 0 10px 10px 80px;
    background-color: teal;
    padding: 15px 40px;
    border-radius: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}
.btn-cta:hover {
    padding: 25px 60px;
    background-color: darkorchid;
}

img {
    background-repeat: no-repeat;
    position: absolute;
    right: 5%;
    top: 5%;
}


.second{
    background: #2b2d42;
    height: 500px;
}

.second h2 {
    padding-top: 25px;
    text-align: center;
    color: #edf2f4;
    font-size: 40px;
}
